{:deps true

 :nrepl {:port 3333}

 :builds
 {:nivo-fat-secret
  {:target     :browser
   :output-dir "public/assets/nivo-fat-secret/js"
   :asset-path "/assets/nivo-fat-secret/js"
   :modules    {:main {:entries [nivo.fat-secret]}}
   :devtools   {:http-root "public/assets/nivo-fat-secret"}}
  :memento-mori
  {:target     :browser
   :output-dir "public/assets/memento-mori/js"
   :asset-path "/assets/memento-mori/js"
   :modules    {:main {:entries [memento-mori.index]}}
   :devtools   {:http-root "public/assets/memento-mori"
                :http-port 3001}}}}
